@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

.prose pre {
  @apply bg-gray-100  dark:bg-gray-800;
}

.prose code {
  @apply bg-gray-200 dark:bg-gray-800;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.token.comment {
  @apply text-gray-700 dark:text-gray-300;
}
.token.prolog {
  @apply text-teal-500 dark:text-red-500;
}
.token.doctype {
  @apply text-cyan-500 dark:text-pink-500;
}
.token.cdata {
  @apply text-rose-700 dark:text-indigo-300;
}

.token.punctuation {
  @apply text-orange-600 dark:text-yellow-300;
}

.token.property {
  @apply text-lime-700 dark:text-indigo-700;
}
.token.tag,
.token.boolean {
  @apply text-violet-500 dark:text-rose-500;
}
.token.number {
  @apply text-rose-500 dark:text-blue-500;
}
.token.constant {
  @apply text-orange-500 dark:text-indigo-500;
}
.token.symbol {
  @apply text-yellow-500 dark:text-green-500;
}
.token.deleted {
  @apply text-green-500;
}

.token.selector {
  @apply text-green-500 dark:text-red-500;
}
.token.attr-name {
  @apply text-cyan-500 dark:text-green-500;
}
.token.string {
  @apply text-teal-700 dark:text-purple-200;
}
.token.char {
  @apply text-blue-500 dark:text-rose-300;
}
.token.builtin {
  @apply text-purple-500 dark:text-amber-500;
}
.token.inserted {
  @apply text-blue-500;
}

.token.operator {
  @apply text-pink-700 dark:text-green-400;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-rose-500;
}

.token.atrule {
  @apply text-amber-900 dark:text-purple-400;
}
.token.attr-value {
  @apply text-pink-700 dark:text-cyan-300;
}
.token.keyword {
  @apply text-blue-800 dark:text-green-200;
}

.token.function {
  @apply text-purple-700 dark:text-purple-200;
}
.token.class-name {
  @apply text-violet-800 dark:text-blue-200;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-amber-500 dark:text-green-500;
}

code[class*='language-'] {
  @apply text-purple-800 dark:text-orange-200;
}
pre[class*='language-'] {
  @apply text-lime-900 dark:text-pink-200;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.remark-code-title {
  @apply text-cyan-800 dark:text-teal-200 px-5 py-3 border border-b-0 border-gray-200 dark:border-gray-700 rounded-t bg-gray-200 dark:bg-gray-800 text-sm font-mono font-bold;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.mdx-marker {
  @apply block -mx-4 px-4 bg-violet-100 dark:bg-rose-800 border-l-4 border-blue-500;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply no-underline;
}

.metric-card > p {
  @apply my-2;
}

.step > h3 {
  @apply my-0;
}

.post {
  width: 100px;
}

.reading-progress-bar {
  position: sticky;
  height: 12px;
  top: 0;

}